.notificacion__toast {
  color: #fff;
  font-weight: bold;
  transition: all 0.3s ease;
  display: inline-block;
  outline: none;
  border: 2px solid #212529;
  background: #212529;
  font-size: 1.1rem;
}

.notificacion__toast:hover {
  background: #fff;
  color: #212529;
}

.notificacion__borrar {
  color: #fff;
  font-weight: bold;
  transition: all 0.3s ease;
  display: inline-block;
  outline: none;
  border: 2px solid #212529;
  background: #212529;
  font-size: 1.1rem;
}

.notificacion__borrar:hover {
  background: #fff;
  color: #212529;
}

.noti__mail {
  font-size: 7rem;
  width: 40%;
}

.total__producto {
  text-align: center;
  width: 25%;
  margin: 1rem 4rem;
  padding: 0.7rem;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  color: #ffffff;
  font-size: 1.3rem;
  font-weight: 1000;
}

#p-total {
  letter-spacing: 1px;
}

.esconder__carro {
  display: none;
}

.swal2-confirm {
  background-color: #212529 !important;
}
