.notificacion__toast {
  color: #fff;
  font-weight: bold;
  transition: all 0.3s ease;
  display: inline-block;
  outline: none;
  border: 2px solid #212529;
  background: #212529;
  font-size: 1.1rem;
}

.notificacion__toast:hover {
  background: #fff;
  color: #212529;
}

.noti__mail {
  color: #f8f8f8;
  font-size: 7rem;
}

.notificacion__correo {
  background-color: aqua;
}
