@media screen and (max-width: 1024px) {
  .capa {
    position: absolute;
    background-color: aliceblue;
    border-radius: 2rem;
    bottom: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 1rem;
    font-weight: 800;
    color: rgb(0, 0, 0);
    opacity: 0;
  }

  p {
    margin: 2rem 0;
    opacity: calc(1);
  }

  .capa__vinilo {
    margin: 10px 0;
    font-size: 15px;
  }

  .merch__table {
    width: 300px;
    text-align: center;
    font-weight: 700;
  }
}

@media screen and (max-width: 768px) {
  // TIENDA
  .capa {
    position: absolute;
    background-color: aliceblue;
    border-radius: 2rem;
    bottom: 0;
    width: 95%;
    height: 100%;
    text-align: center;
    font-size: 15px;
    font-weight: 800;
    color: rgb(0, 0, 0);
    opacity: 0;
  }

  p {
    margin-top: 1rem;
    opacity: calc(1);
  }

  .capa__vinilo {
    font-size: 15px;
    margin: 10px 0;
  }

  // MERCH-1

  .merch__table {
    width: 300px;
    text-align: center;
    font-weight: 700;
  }
}

@media screen and (max-width: 637px) {
  header h1 {
    font-size: 40px;
    letter-spacing: 16px;
    color: #ffffff;
    font-style: italic;
  }

  .nav__desktop {
    display: none;
  }

  .nav__mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .nav {
    border: 0;
  }

  .nav-link:hover {
    padding: 5px;
    font-size: 1.5rem;
  }

  .bg-dark {
    --bs-bg-opacity: 0;
    display: block;
  }

  .p-4 {
    padding: 10px !important;
  }

  .index__imagen2 {
    margin: 1rem 0;
    background: rgba(115, 115, 115, 0.6);
    border-radius: 2rem;
    border: 10px solid rgba(255, 255, 255, 0.18);
  }

  /* Biografia */

  .biografia__principal {
    text-align: center;
    font-size: 17px;
    margin-bottom: 2rem;
    background: rgba(68, 60, 60, 0.4);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4.5px);
    -webkit-backdrop-filter: blur(4.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    color: #ffffff;
  }

  /* Live */

  .live__tabla {
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-size: 1.5rem;
    background: rgba(68, 60, 60, 0.4);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4.5px);
    -webkit-backdrop-filter: blur(4.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    color: #ffffff;
  }

  /* Contacto */

  .form1 {
    margin-top: 1rem;
    margin-bottom: 2rem;
    padding: 1rem;
    background: rgba(68, 60, 60, 0.4);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4.5px);
    -webkit-backdrop-filter: blur(4.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    color: #ffffff;
    height: 600px;
  }

  .genero__contacto {
    margin-left: 5px;
  }

  .form__pais {
    margin-bottom: 10px;
    width: 95%;
  }

  // TIENDA

  .container__tienda {
    margin: 5rem auto;
    background-color: #364551;
    border-radius: 2rem;
    width: 80%;
  }
}

@media screen and (max-width: 594px) {
  /* Contacto */

  .form1__genero {
    margin-left: 5px;
  }

  .form1__pais {
    margin-left: 12px;
    margin-bottom: 10px;
    width: 93%;
  }
}

@media screen and (max-width: 425px) {
  .nav__desktop {
    display: none;
  }

  .nav__mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .nav {
    border: 0;
  }

  .nav-link:hover {
    padding: 5px;
    font-size: 1.5rem;
  }

  .bg-dark {
    --bs-bg-opacity: 0;
    display: block;
  }

  .p-4 {
    padding: 10px !important;
  }

  // TIENDA

  .container__imagen {
    margin-top: 1rem;
  }

  .capa {
    position: absolute;
    background-color: aliceblue;
    border-radius: 2rem;
    bottom: 0;
    width: 95%;
    height: 100%;
    text-align: center;
    font-size: 15px;
    font-weight: 800;
    color: rgb(0, 0, 0);
    opacity: 0;
  }

  p {
    margin-top: 30%;
    opacity: calc(1);
  }

  .capa__vinilo {
    font-size: 15px;
    margin: 20% 0;
  }

  // MERCH-1

  .merch__carrito {
    text-decoration: none;
    justify-content: center;
  }

  .merch__parrafo {
    text-align: center;
  }

  .merch__table {
    width: 350px;
    text-align: center;
    font-weight: 700;
    align-items: center;
  }

  .container__productoscarro {
    position: relative;
    margin: 0 2rem;
    padding: 10px;
    background-color: #364551;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4.5px);
    width: 90%;
    height: 100%;
  }

  .total__producto {
    cursor: context-menu;
    text-align: center;
    margin: 1rem 4rem;
    padding-bottom: 4rem;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4.5px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    color: #ffffff;
    font-size: 1.3rem;
    font-weight: 1000;
    letter-spacing: 2px;
  }
}

@media screen and (max-width: 375px) {
  .merch__table {
    width: 310px;
    text-align: center;
    font-weight: 700;
  }
}

@media screen and (max-width: 320px) {
  // MERCH-1

  .merch__table {
    width: 265px;
    text-align: center;
    font-weight: 700;
  }
}
